@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900&family=Press+Start+2P&display=swap');

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #140d12;
}
